*.o
*.d
*.elf
*.bin
*.slot
mqjs_stdlib
mqjs_stdlib.h
mquickjs_atom.h
mquickjs_build_atoms
mqjs_example
example_stdlib
example_stdlib.h
mqjs
example
dtoa_test
libm_test
mqjs_host
host_build/
riscv/jsbytecode.s
